.swiper {
  width: 100%;
  height: 100%;
}

.carouselProducts .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .swiper-button-next {
  --swiper-navigation-size: 18px !important;
  padding: 14px;
  border-radius: 100%;
  background-color: #1c1d1f;
  color: #ffff !important;
}
.swiper-button-next:hover {
  transform: scale(1.2) !important;
  traslation: all 0.3s !important;
}
.swiper-button-prev {
  --swiper-navigation-size: 16px !important;
  padding: 14px;
  border-radius: 100%;
  background-color: #1c1d1f;
  color: #ffff !important;
}
.swiper-button-prev:hover {
  transform: scale(1.2) !important;
  traslation: all 0.3s !important;
} */
.swiper-button-disabled {
  /* opacity: 0.5 !important; */
  display: none !important;
}
.swiper-button-hidden {
  display: none !important;
}
.swiper-slide {
  align-items: start !important;
}
