.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-rate-star {
  margin-inline-end: 1px !important;
}
.ant-tooltip-inner {
  min-width: 300px !important;
}
.textShowDetailHome {
  color: green !important;
}

.ant-form-item {
  margin-bottom: 0px;
}
.selectCreateCoursePage .ant-select-selector {
  border-radius: none !important;
}
.ant-form-item-label > label {
  font-size: 20px !important;
}
